@model ML.Usuario
@{
    ViewData["Title"] = "Bienvenido";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    @* <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>*@

    <link rel="stylesheet" href="/css/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <div class="logo"></div>
            <div class="login-block">
                <h1>Login</h1>
                @Html.LabelFor(model => model.UserName)
                <div class=" = input-group">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                </div>
                @Html.LabelFor(model => model.Password)
                <div class=" = input-group">
                    @Html.TextBoxFor(model => model.Password, new { @class = "center", @type="password" })
                </div>
                @*  <input type="text" value="" placeholder="Username" id="username" />
            <input type="password" value="" placeholder="Password" id="password" />*@
                @* <button>Submit</button>*@

                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        }
    </div>
</body>
</html>